<h1>配送先編集</h1>

<%= form_with model: @address, url: publics_address_path(@address), method: :patch do |f| %>

  <div class="form-group">
    <label for="genre_name">郵便番号(ハイフンなし)</label>
    <%= f.text_field :postal_code %>

    <label for="genre_name">住所</label>
    <%= f.text_field :address %>

    <label for="genre_name">宛名</label>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <input type="submit" name="commit" value="変更内容を保存" class="btn btn-success" data-disable-with="Update Genre">
  </div>

<% end %>
