      <table>
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= link_to genre.genres_name, publics_genre_path(genre.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>