<h1>会員一覧</h1>
<p>会員ID　氏名　メールアドレス　ステータス</p>

<% @customers.each do |customer| %>

<p>会員ID</p>
<%= customer.id %>

<p>氏名</p>
<%= customer.last_name %><%= customer.first_name %>

<p>メールアドレス</p>
<%= customer.email %>

<p>ステータス</p>


<% end %>

<p>1 2 3 >></p>