<h1>会員一覧</h1>


<% @customers.each do |customer| %>

<p>会員ID</p>
<%= customer.id %>

<p>氏名</p>
<%= customer.last_name %><%= customer.first_name %>

<p>メールアドレス</p>
<%= customer.email %>

<p>ステータス</p>
<% if customer.is_deleted %>
    退会
<% elsif %>
    有効
<% end %>

<% end %>
