<h1>商品一覧</h1>

<% @items.each do |item| %>
<div>
<h4>商品ID</h4>
<%= item.id %>

<h4>商品名</h4>
<%= link_to item.item_name, admins_item_path(item.id) %>

<h4>税抜価格</h4>
<%= item.price %>

<h4>ジャンル</h4>
<%= item.genre.genres_name %>

<h4>ステータス</h4>
<% if item.is_active %>
    販売中
<% elsif %>
    販売停止中
<% end %>

</div>
<% end %>



<p>1 2 3 >></p>
